/* Hero Carousel */
.bg-dark-custom {
    background: transparent;
    position  : fixed;
    top       : 0;
    right     : 0;
    left      : 0;
}


.hero-carousel {
    height: 100vh;
}

.hero-carousel .carousel-item img {
    height         : 100vh;
    object-fit     : cover;
    object-position: center center;
}

.hero-carousel .carousel-indicators [data-bs-target] {
    height          : 1.2rem;
    width           : 1.2rem;
    border-radius   : 50%;
    background-color: #F9F9F6;
}

.hero-carousel .carousel-caption {
    text-align: right;
    right     : 5%;
    left      : 5%;
    bottom    : 17.4rem;
}

.hero-carousel .carousel-caption h1 {
    max-width     : 64.4rem;
    margin-left   : auto;
    font-weight   : bold;
    font-size     : 7.2rem;
    line-height   : 8.4rem;
    text-transform: uppercase;
    color         : #FFFFFF;
    margin-bottom : 3.8rem;
}

.hero-carousel .carousel-caption a {
    display      : inline-block;
    font-family  : 'Roboto', sans-serif;
    font-weight  : 500;
    font-size    : 2.4rem;
    line-height  : 2.8rem;
    color        : #FFFFFF;
    padding      : 2.4rem 6.2rem;
    border       : .2rem solid #FFFFFF;
    border-radius: 6rem;
}

.hero-carousel .carousel-caption a:hover {
    background-color: #53A0BC;
    border-color    : #53A0BC;
}

/* Hero Carousel End*/

/* Restaurent Details CSS */
.restaurent-Details {
    padding: 5.8rem 5% 5.7rem 5%;
}


.social-link a {
    margin-right: 2.4rem;
    height      : 4rem;
    width       : 4rem;
}

.social-link a:last-child {
    margin: 0;
}

.restaLogo {
    max-width    : 37.7rem;
    min-width    : 25rem;
    margin-top   : 3.4rem;
    margin-bottom: 3.4rem;
}
.restaurSubTitle p {
    font-family   : 'Roboto', sans-serif;
    font-weight   : 300;
    font-size     : 2.4rem;
    line-height   : 3.8rem;
    font-style: italic;
    color: #91B110;
    margin-bottom: 2rem;
}

.restaurDetails p {
    max-width     : 81.3rem;
    font-family   : 'Roboto', sans-serif;
    font-weight   : 300;
    font-size     : 2rem;
    line-height   : 3.8rem;
    color         : #383838;
    margin        : auto;
    padding-top   : .6rem;
    padding-bottom: 2.4rem;
}

.restaurDetails a {
    font-family  : 'Roboto', sans-serif;
    font-weight  : normal;
    font-size    : 1.8rem;
    line-height  : 2.1rem;
    color        : #53A0BC;
    padding      : 2rem 3.2rem;
    border       : 1px solid #53A0BC;
    border-radius: 6rem;
    display      : inline-block;
}



/* Menu CSS */
.menu-title-wrapper {
    padding-top: 5.8rem;
}
.menu-navbar-wrapper.sticky-top {
    background: #ffffff;
    border-bottom: 1px solid #DDDDDD;
    z-index: 10;
}
.scroll-x-navbar::-webkit-scrollbar {
    display: none;
}
.scroll-x-navbar {
    display: flex;
    flex-wrap: initial;
    overflow-x: auto;
    margin-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-x-navbar .nav-item:not(:last-child) {
    margin-right: 4rem;
}
.scroll-x-navbar .nav-link {
    font-family  : 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 400;
    color: #858585;
    text-transform: capitalize;
    padding: 1.6rem 0;
    white-space: nowrap;
    position: relative;
}
.scroll-x-navbar .nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #53A0BC;
    z-index: 2;
}
.scroll-x-navbar.nav-pills .nav-link.active, .scroll-x-navbar.nav-pills .show>.nav-link {
    color: #000000;
    background-color: transparent;
}

.scrollspy-menu-content {
    position: relative;
    margin-top: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-bottom: 12rem;
}
.scrollspy-menu-content .container .categories:not(:first-child) {
    padding-top: 5.8rem;
}
.categories {
    transition: padding .4s ease-in-out;
}
.categories.active {
    padding-top: 18rem !important;
}
.menuTitle {
    font-weight   : normal;
    font-size     : 5.6rem;
    line-height   : 7.3rem;
    text-align    : center;
    text-transform: uppercase;
    color         : #1A1A1A;
    margin-bottom : 4rem;
}


.categoriesTitle {
    font-family  : 'Roboto', sans-serif;
    font-weight  : 300;
    font-size    : 3.2rem;
    line-height  : 3.8rem;
    color        : #000000;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
}

.sideCategories {
    position: relative;
}

/* Item CSS */

.item {
    padding: 1.8rem;
}

.item:hover {
    background-color: #F9F9F6;

}

.item-content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size  : 3rem;
    line-height: 3.5rem;
    color      : #383838;
}

.item-content ul {
    padding: 0;
}


.item-content ul li {
    display      : inline-block;
    font-family  : 'Roboto', sans-serif;
    font-weight  : normal;
    font-size    : 1.8rem;
    line-height  : 2.1rem;
    color        : #858585;
    padding-right: 13px;
    position     : relative;
    margin-top   : .8rem;
}

.item-content ul li::after {
    content         : '';
    position        : absolute;
    top             : 0;
    right           : 4px;
    bottom          : 0;
    margin          : auto;
    height          : 4px;
    width           : 4px;
    border-radius   : 50%;
    background-color: #858585;
}

.item-content ul li:last-child:after {
    background-color: transparent;
}



.item-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size  : 1.8rem;
    line-height: 2.6rem;
    color      : #383838;
    margin-top : 3.4rem;
}

.item-content {
    padding-left: 3.2rem;
}


.price {
    font-family  : "Anko-PersonalUse-Bold";
    font-size    : 2.8rem;
    line-height  : 3.6rem;
    color        : #1A1A1A;
    padding-right: 2.3rem;
    margin-bottom: 1.5rem;
}

.cartBtn {
    font-family     : 'Roboto', sans-serif;
    font-weight     : normal;
    font-size       : 1.8rem;
    line-height     : 2.1rem;
    color           : #91B110;
    border          : 1px solid #91B110;
    background-color: transparent;
    padding         : 2rem 3.2rem;
    border-radius   : 6rem;
}

.cartBtn:hover {
    background-color: #91B110;
    color           : white;
}


@media (max-width: 767.98px) {
    
}
@media (max-width: 575.98px) {
    .restaurDetails p {
        font-size: 15px;
        line-height: 32px;
    }
    .restaurDetails a {
        font-size: 16px;
        line-height: 19px;
        padding: 16px 32px;
    }
    .item-content {
        padding-left: 1rem;
    }
    .item-content h3 {
        font-size: 22px;
        line-height: 24px;
    }
    .item-content ul li {
        font-size: 16px;
        line-height: 19px;
        margin-top: 8px;
    }
    .item-content p {
        font-size: 15px;
        line-height: 24px;
        margin-top: 1rem;
    }
    .price {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 26px;
    }
    .cartBtn {
        font-weight: 500;
    }
}